// .el-table--border .el-table__inner-wrapper::after, .el-table--border::after, .el-table--border::before, .el-table__inner-wrapper::before{height: 0px;}
// .el-table--border .el-table__cell{border-right: none;}
// .el-table__border-left-patch{height: 0;}

// .el-table th.el-table__cell.is-leaf{border-right: 1px solid var(--el-table-border-color); border-top: 1px solid var(--el-table-border-color);}
// .el-table--border th.el-table__cell{border-right: 1px solid var(--el-table-border-color)}